<!DOCTYPE html>
<html lang="id">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }} - {{ $.Site.Title }}</title>
  	<meta name="description" content="{{ .Description }}">
  	<link rel="canonical" href="{{ .Permalink }}">
  	{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
	<link href="/css/pages.min.css" rel="stylesheet">
	
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/google_news.html" . }}
	{{ template "_internal/twitter_cards.html" . }}

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/img/logo.png" height="30" class="d-inline-block align-top" alt="PUBG Indonesia">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
          {{ $currentPage := . }}
      <ul class="navbar-nav mr-auto">
          {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              {{ .Pre }}
              <span>{{ .Name }}</span>
                </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range .Children }}
            <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
              {{ end }}
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="{{.URL}}">
            {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
        </li>
          {{end}}
        {{end}}
      </ul>
        </div>
      </div>
    </nav>

	<header style="background-color:black; {{if $.Params.fimage }}background-image: url('{{ $.Params.fimage }}');{{ end }} no-repeat center center scroll;" class="masthead">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>{{ .Title }}</h1>
						{{ if $.Params.subheading }}<span class="subheading">{{ $.Params.subheading }}</span>{{ end }}
					</div>
				</div>
			</div>
		</div>
	</header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ .Content }}
        </div>
      </div>
    </div>

    <hr>

    {{ partial "footer-nav" . }}

    <!-- Bootstrap core JavaScript -->
    <script async src="/vendor/jquery/jquery.min.js"></script>
    <script async src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/pages.min.js"></script>

  </body>

</html>
