<!DOCTYPE html>
<html lang="id">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description }}"> 


    <!-- Icon -->
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/sirnarasa.min.css" rel="stylesheet">

    {{ template "_internal/schema.html" . }}
    {{ template "_internal/google_news.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/google_analytics.html" . }}
    {{ template "_internal/opengraph.html" . }}

</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light zhadow">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                    <img src="/img/logo-s.png" height="30" class="d-inline-block align-top"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSirnarasa" aria-controls="navbarSirnarasa" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSirnarasa">
                    {{ $currentPage := . }}
                    <ul class="navbar-nav mr-auto">
                        {{ range .Site.Menus.main }}
                            {{ if .HasChildren }}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                                </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ range .Children }}
                            <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
                            {{ end }}
                        </div>
                        </li>
                        {{else}}
                        <li class="nav-item">
                        <a class="nav-link" href="{{.URL}}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                        </li>
                        {{end}}
                        {{end}}
                    </ul>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="/facebook">
                            <i class="fa fa-facebook fa-fw text-primary"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/twitter">
                            <i class="fa fa-twitter fa-fw" style="color:aqua"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/instagram">
                            <i class="fa fa-instagram fa-fw" style="color: pink"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/nimo">
                            <i class="fa fa-camera fa-fw text-warning"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="/youtube">
                            <i class="fa fa-youtube-play fa-fw text-danger"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid bg-warning mt-5">
                <div class="container">
                    <div class="pt-5 jumbotron zhadow">
                            <h1 class="text-center display-3">{{ .Title }}</h1>
                            <div class="text-center">
                                {{ if .Params.fimage }}<img class="img-fluid" src="{{ .Params.fimage }}" alt="{{ .Title }}">{{ end }}
                            </div>
                    </div>
                </div>
            </div>

        {{ partial "post-grid" . }}



{{ partial "footer-nav" . }}
{{ partial "footer" . }}