<!-- Call to Action -->
    <section class="call-to-action text-white text-center mt-5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">{{$.Site.Data.haldepan.headingCTA | safeHTML}}</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <br> <a class="btn btn-lg btn-danger mt-3" href="{{$.Site.Data.haldepan.CTAbtnLink}}" target="_blank">{{$.Site.Data.haldepan.CTAbtnText}}</a>
          </div>
        </div>
      </div>
    </section>