    <!-- Bootstrap core JavaScript -->
    <script async src="/vendor/jquery/jquery.min.js"></script>
    <script async src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>