<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
              {{ range .Site.Menus.footer }}
            <li class="list-inline-item">
              <a href="{{.URL}}" class="text-danger">{{ .Name }}</a>
            </li>
            {{end}}
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; <a class="text-danger" href="/">PUBG ID</a> {{ now.Format "2006"}}. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
