<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
          <img class="img-fluid" src="{{$.Site.Data.haldepan.headingLogo}}" alt="PUBGID">
        <h1 class="mb-5">{{$.Site.Data.haldepan.headingText}}</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <a href="{{$.Site.Data.haldepan.headingBtnLink}}" class="btn btn-lg btn-danger">{{$.Site.Data.haldepan.headingBtnText}}</a>
      </div>
    </div>
  </div>
</header>