<!-- Icons Grid -->
  <section id="why" class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-danger"></i>
            </div>
            <h3>{{$.Site.Data.haldepan.IconText1}}</h3>
            <p class="lead mb-0">{{$.Site.Data.haldepan.IconDesc1}}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-danger"></i>
            </div>
            <h3>{{$.Site.Data.haldepan.IconText2}}</h3>
            <p class="lead mb-0">{{$.Site.Data.haldepan.IconDesc2}}</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-danger"></i>
            </div>
            <h3>{{$.Site.Data.haldepan.IconText3}}</h3>
            <p class="lead mb-0">{{$.Site.Data.haldepan.IconDesc3}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>