<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{$.Site.Data.haldepan.showcaseImg1}}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{$.Site.Data.haldepan.showcaseHeading1}}</h2>
        <p class="lead mb-0">{{$.Site.Data.haldepan.showcaseParagraf1}}</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{$.Site.Data.haldepan.showcaseImg2}}');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>{{$.Site.Data.haldepan.showcaseHeading2}}</h2>
        <p class="lead mb-0">{{$.Site.Data.haldepan.showcaseParagraf2}}</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{$.Site.Data.haldepan.showcaseImg3}}');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>{{$.Site.Data.haldepan.showcaseHeading3}}</h2>
        <p class="lead mb-0">{{$.Site.Data.haldepan.showcaseParagraf3 | safeHTML }}</p>
      </div>
    </div>
  </div>
</section>