<!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Apa yang mereka katakan...</h2>
      <div class="row">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/img/prasetyo.png" alt="Pras PUBG Indonesia">
            <h5>Prasetyo</h5>
            <p class="font-weight-light mb-0">"Sebagai senior di PUBG Indonesia dan dikasih kepercayaan jadi Momod dengan adanya komunitas ini member bisa mudah mencari teman maupun keluarga."</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/elwin.jpg" alt="Elwin PUBG Indonesia">
            <h5>Elwin</h5>
            <p class="font-weight-light mb-0">"Hampir 1 tahun saya di PUBG Indonesia dengan adanya komunitas ini saya mudah mencari teman SQUAD atau DUO."</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/entruv.jpg" alt="Entruv PUBG Indonesia">
            <h5>Entruv</h5>
            <p class="font-weight-light mb-0">"PUBGID sangat membantu saya di pro scene dengan adanya scrim dan turnamen-turnamen yang diadakan secara rutin tiap minggunya."</p>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/adryan.jpg" alt="Adryan PUBG Indonesia">
              <h5>Adryan</h5>
              <p class="font-weight-light mb-0">"Saya berterima kasih kepada PUBG Indonesia yang mempercayakan saya untuk membawa nama PUBGID Team."</p>
            </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="/img/bolba.jpg" alt="Bolba PUBG Indonesia">
            <h5>Bolba</h5>
            <p class="font-weight-light mb-0">"Saya sangat berterima kasih kepada PUBG Indoensia telah memberikan saya pelajaran dan kepercayaan kepada saya untuk mengisi salah 1 (satu) team PUBG Indonesia."</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/maya.jpg" alt="Maya PUBG Indonesia">
            <h5>Maya</h5>
            <p class="font-weight-light mb-0">"PUBGID sangat membantu dikala saya tidak mempunyai teman bermain, member serta admin nya juga ramah, keep solid yah!"</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="img/binian.jpg" alt="Amel PUBG Indonesia">
            <h5>Amel</h5>
            <p class="font-weight-light mb-0">"Semenjak saya di PUBG Indonesia (PUBGID) makin mudah untuk mencari teman bermain squad dan ketika libur kami sering gathering di kota masing-masing."</p>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/w-soldier.jpg" alt="Adryan PUBG Indonesia">
              <h5>Siapa Kamu?</h5>
              <p class="font-weight-light mb-0">"Seberapa bermanfaat Komunitas PUBG Indonesia buat Kamu?"</p>
            </div>
        </div>
      </div>
    </div>
  </section>