<section class="testimonials text-center bg-light d-none d-xl-block">
    <div class="container">
        <h2 class="mb-5">{{$.Site.Data.kataMereka.headingKataMereka}}</h2>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/kyoto.jpg" alt="Apa Kata Mereka Slide 1">
                    <div class="carousel-caption d-none d-md-block">

                        <div class="row mx-auto">
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img1}}" alt="Pras PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama1}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata1}}</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img2}}" alt="Bolba PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama2}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata2}}</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img3}}" alt="Entruv PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama3}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata3}}</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img4}}" alt="Adryan PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama4}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata4}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item bg-dark">
                    <img class="d-block w-100" src="/img/day-tripper.jpg" alt="Apa Kata Mereka Slide 2">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img5}}" alt="Indah Utami Putri PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama5}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata5}}</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img6}}" alt="Maya PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama6}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata6}}</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img7}}" alt="Amel PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama7}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata7}}</p>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                    <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img8}}" alt="Citra PUBG Indonesia">
                                    <h5>{{$.Site.Data.kataMereka.Nama8}}</h5>
                                    <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata8}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/cherry.jpg" alt="Apa Kata Mereka Slide 3">
                    <div class="carousel-caption d-none d-md-block">
                            <div class="row">
                                    <div class="col-lg-3">
                                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                            <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img9}}" alt="Elwin PUBG Indonesia">
                                            <h5>{{$.Site.Data.kataMereka.Nama9}}</h5>
                                            <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata9}}</p>
                                        </div>
                                    </div>
                                <div class="col-lg-3">
                                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                        <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img10}}" alt="Kresna Aurora PUBG Indonesia">
                                        <h5>{{$.Site.Data.kataMereka.Nama10}}</h5>
                                        <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata10}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                        <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img11}}" alt=" PUBG Indonesia">
                                        <h5>{{$.Site.Data.kataMereka.Nama11}}</h5>
                                        <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata11}}</p>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                                        <img class="img-fluid rounded-circle mb-3" src="{{$.Site.Data.kataMereka.Img12}}" alt=" PUBG Indonesia">
                                        <h5>{{$.Site.Data.kataMereka.Nama12}}</h5>
                                        <p class="font-weight-light mb-0">{{$.Site.Data.kataMereka.Kata12}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>