<!-- Navigation -->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{$.Site.Data.haldepan.navbarLogo}}" height="30" class="d-inline-block align-top" alt="PUBG Indonesia">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            MENU
            <i class="fa fa-bars"></i>
          </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
          {{ $currentPage := . }}
      <ul class="navbar-nav mr-auto">
          {{ range .Site.Menus.main }}
              {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
              {{ .Pre }}
              <span>{{ .Name }}</span>
                </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{ range .Children }}
            <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
              {{ end }}
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="{{.URL}}">
            {{ .Pre }}
              <span>{{ .Name }}</span>
          </a>
        </li>
          {{end}}
        {{end}}
      </ul>
      
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a href="/facebook">
            <i class="fa fa-facebook fa-fw text-primary"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/twitter">
            <i class="fa fa-twitter fa-fw" style="color:aqua"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/instagram">
            <i class="fa fa-instagram fa-fw" style="color: pink"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/nimo">
            <i class="fa fa-camera fa-fw text-warning"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="/youtube">
            <i class="fa fa-youtube-play fa-fw text-danger"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>