<article class="card-post">
    <div class="container">
        <div class="row">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 6 }} {{ range $paginator.Pages }}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card">
                    <a href="{{ .RelPermalink }}">
                        <img class='card-img-top' src='{{ if eq .Params.fimage "" }}/img/444.jpg{{else}}{{ .Params.fimage }}{{end}}' alt='{{ .Title }}'>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h4>
                    </div>
                </div>
            </div>
            {{ end }}

        </div>
    </div>
</article>

<br>

<div class="container">
    {{ partial "paginator" . }}
</div>